@include font-face("Segoe UI Bold", SegoeUI-Bold, "700");

.h1-large {
    font-size: $h1-large-mobile;
    font-family: "Segoe UI Bold", sans-serif;

    @include medium-breakpoint {
        font-size: $h1-large;
    } 
}